@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F6F4F2;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 25%;
  width: 1px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 
    25vw 0 rgba(0, 0, 0, 0.1), 
    50vw 0 rgba(0, 0, 0, 0.1), 
    75vw 0 rgba(0, 0, 0, 0.1);
}



